:root {
    --primary-color: #f5a623;
    --secondary-color: #f76b1c;
    --accent-color: #aaaaaa;
    --background-color: #ff0c0c85;
    --text-color: #000000;
    --navbar-primary-color: rgba(0, 0, 0, 0.8);
    --active-border-color: #003af7;
  }