.aboutSection{
    height:15rem;
}
.aboutSectionA{
    height:15rem;
    background-color: cyan;
}
.aboutSectionB{
    height:15rem;
    background-color: green;
}
.aboutSectionC{
    height:15rem;
    background-color: gray;
}